<p>register works!</p>

<div class="container register-form">
    <div class="form">
        <div class="note">
            <p>Login.. So you can post your feeback</p>
        </div>

        <div class="form-content">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Name *" value=""/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email id *" value=""/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Password *" value=""/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Confirm Password *" value=""/>
                    </div>
                </div>
            </div>
            <button type="button" class="btnSubmit">Submit</button>
        </div>
    </div>
</div>