
	.jumbotron-sm { padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
 }
	.jumbotron small {
	color: #5CDB95;
	}
	.h1 small {
	font-size: 24px;
	color: blue;
	}
	.col-md-6 {
		padding-top: 20px;
	}
	.col-md-4{
		padding-top: 20px;
	}

  