<div class="container-fluid">
    <hr>
    <div class="row">
        <div class="col-lg-4" >
            <p> &copy; ProductReviews.Inc. 2021| Connect with us on   </p>
                
        </div> 

        <div class="col-lg-4" id="icons"> 
            
            <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://web.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.youtube.com/" target="_blank"><i class="bi bi-youtube"></i></a>
            
        </div>
    </div>    
</div>
